<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SuperMarche_JEE_</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>cn.supermarche.servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/user-logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterAuPanierServlet</display-name>
    <servlet-name>AjouterAuPanierServlet</servlet-name>
    <servlet-class>cn.supermarche.servlet.AjouterAuPanierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterAuPanierServlet</servlet-name>
    <url-pattern>/AjouterAuPanierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterPanierServlet</display-name>
    <servlet-name>AjouterPanierServlet</servlet-name>
    <servlet-class>cn.supermarche.servlet.AjouterAuPanierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterPanierServlet</servlet-name>
    <url-pattern>/Ajouter-Au-Panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantiteIncDecServlet</display-name>
    <servlet-name>QuantiteIncDecServlet</servlet-name>
    <servlet-class>cn.supermarche.servlet.QuantiteIncDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantiteIncDecServlet</servlet-name>
    <url-pattern>/quantite-inc-dec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerDuPanierServlet</display-name>
    <servlet-name>SupprimerDuPanierServlet</servlet-name>
    <servlet-class>cn.supermarche.servlet.SupprimerDuPanierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerDuPanierServlet</servlet-name>
    <url-pattern>/supprimer-produit-du-panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Acheter_Servlet</display-name>
    <servlet-name>Acheter_Servlet</servlet-name>
    <servlet-class>cn.supermarche.servlet.Acheter_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acheter_Servlet</servlet-name>
    <url-pattern>/acheter_maitenant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinaliserServlet</display-name>
    <servlet-name>FinaliserServlet</servlet-name>
    <servlet-class>cn.supermarche.servlet.FinaliserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinaliserServlet</servlet-name>
    <url-pattern>/finaliser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dddd</display-name>
    <servlet-name>dddd</servlet-name>
    <servlet-class>cn.supermarche.servlet.dddd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dddd</servlet-name>
    <url-pattern>/dddd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.supermarche.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerCommandeServlet</display-name>
    <servlet-name>SupprimerCommandeServlet</servlet-name>
    <servlet-class>cn.supermarche.servlet.SupprimerCommandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerCommandeServlet</servlet-name>
    <url-pattern>/SupprimerCommandeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefuserCommandeServelet</display-name>
    <servlet-name>RefuserCommandeServelet</servlet-name>
    <servlet-class>cn.supermarche.servlet.RefuserCommandeServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefuserCommandeServelet</servlet-name>
    <url-pattern>/RefuserCommandeServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValiderCommandeServelet</display-name>
    <servlet-name>ValiderCommandeServelet</servlet-name>
    <servlet-class>cn.supermarche.servlet.ValiderCommandeServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiderCommandeServelet</servlet-name>
    <url-pattern>/ValiderCommandeServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProduitQuantiteServlet</display-name>
    <servlet-name>ProduitQuantiteServlet</servlet-name>
    <servlet-class>cn.supermarche.servlet.ProduitQuantiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProduitQuantiteServlet</servlet-name>
    <url-pattern>/ProduitQuantiteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerProduitServlet</display-name>
    <servlet-name>SupprimerProduitServlet</servlet-name>
    <servlet-class>cn.supermarche.servlet.SupprimerProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerProduitServlet</servlet-name>
    <url-pattern>/SupprimerProduitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoToModifierPageServelet</display-name>
    <servlet-name>GoToModifierPageServelet</servlet-name>
    <servlet-class>cn.supermarche.servlet.GoToModifierPageServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoToModifierPageServelet</servlet-name>
    <url-pattern>/GoToModifierPageServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierProduitServelet</display-name>
    <servlet-name>ModifierProduitServelet</servlet-name>
    <servlet-class>cn.supermarche.servlet.ModifierProduitServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierProduitServelet</servlet-name>
    <url-pattern>/ModifierProduitServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterNouveauProduitServelet</display-name>
    <servlet-name>AjouterNouveauProduitServelet</servlet-name>
    <servlet-class>cn.supermarche.servlet.AjouterNouveauProduitServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterNouveauProduitServelet</servlet-name>
    <url-pattern>/AjouterNouveauProduitServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerUtilisateurServelet</display-name>
    <servlet-name>SupprimerUtilisateurServelet</servlet-name>
    <servlet-class>cn.supermarche.servlet.SupprimerUtilisateurServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerUtilisateurServelet</servlet-name>
    <url-pattern>/SupprimerUtilisateurServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajouterNouveauFournisseurServlet</display-name>
    <servlet-name>ajouterNouveauFournisseurServlet</servlet-name>
    <servlet-class>cn.supermarche.servlet.ajouterNouveauFournisseurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajouterNouveauFournisseurServlet</servlet-name>
    <url-pattern>/ajouterNouveauFournisseurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerFournisseurServlet</display-name>
    <servlet-name>SupprimerFournisseurServlet</servlet-name>
    <servlet-class>cn.supermarche.servlet.SupprimerFournisseurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerFournisseurServlet</servlet-name>
    <url-pattern>/SupprimerFournisseurServlet</url-pattern>
  </servlet-mapping>
</web-app>